In [134]:
import numpy as np 
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [135]:
#df = pd.read_csv('ODI_Data_Final.csv')
df = pd.read_csv('ODI_Data_Final1.csv')

In [136]:
df.head()

,Match_ID,Start Date,Country,Country_ID,Opposition,Ground,Toss,Score,Wickets,Overs,RPO,Target,Inns,Margin,Result
0,ODI # 3315,03-Jan-13,Pakistan,7,India,Kolkata,lost,250,10,48.3,5.15,NaN,1,85 runs,won
1,ODI # 3315,03-Jan-13,India,6,Pakistan,Kolkata,won,165,10,48.0,3.43,251.0,2,85 runs,lost
2,ODI # 3316,06-Jan-13,Pakistan,7,India,Delhi,lost,157,10,48.5,3.21,168.0,2,10 runs,lost
3,ODI # 3316,06-Jan-13,India,6,Pakistan,Delhi,won,167,10,43.4,3.82,NaN,1,10 runs,won
4,ODI # 3317,11-Jan-13,SriLanka,8,Australia,Melbourne,lost,198,10,40.0,4.95,306.0,2,107 runs,lost

In [137]:
df.shape

(1046, 15)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046 entries, 0 to 1045
Data columns (total 15 columns):
Match_ID      1046 non-null object
Start Date    1046 non-null object
Country       1046 non-null object
Country_ID    1046 non-null int64
Opposition    1046 non-null object
Ground        1046 non-null object
Toss          1046 non-null object
Score         1046 non-null int64
Wickets       1046 non-null int64
Overs         1046 non-null float64
RPO           1046 non-null float64
Target        523 non-null float64
Inns          1046 non-null int64
Margin        1046 non-null object
Result        1046 non-null object
dtypes: float64(3), int64(4), object(8)
memory usage: 122.7+ KB

In [234]:
df_X = df.loc[:,['Country','Opposition','Ground','Toss','Inns','Score','Wickets','Overs','Target']]

In [235]:
df_X.Target.fillna(999,inplace=True)

In [236]:
df_y = df['Result']

In [237]:
X = pd.get_dummies(df_X, drop_first=True)

In [238]:
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(df_y)

In [280]:
y[0]

1

In [239]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [243]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
#Testing Model
print("Logistic Regression Accuracy Score =", log_reg.score(X_test, y_test)*100)

Logistic Regression Accuracy Score = 83.80952380952381

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

# Scenario -1 :
Itâ€™s a 2019 cricket world cup match at Lords NZ batting first have set a target of 243 against England. England 170 for the loss of 4 wickets in 40 overs have scored 242 for 8 in their 50 overs.

In [313]:
test_df = pd.DataFrame([["England","New Zealand","Lord\'s","lost",2,170,4,40,243]],
             columns= ['Country','Opposition','Ground','Toss',
                       'Inns','Score','Wickets','Overs','Target'])
test_df

   Country   Opposition  Ground  Toss  Inns  Score  Wickets  Overs  Target
0  England  New Zealand  Lord's  lost     2    170        4     40     243

In [314]:
df_X1=pd.concat([df_X,test_df], axis=0)

In [315]:
X1 = pd.get_dummies(df_X1,drop_first=True)

In [316]:
X11 = X1.iloc[-1:,]

In [317]:
y_predict = log_reg.predict(X11)

In [318]:
y_predict = pd.DataFrame(y_predict, columns=["Result"]).replace({1:"win",0:"loss"})
y_predict

  Result
0    win

In [319]:
y_prob = (log_reg.predict_proba(X11))*100
y_prob = pd.DataFrame(y_prob,columns=["loss%","win%"])
y_prob

     loss%      win%
0  7.98578  92.01422

In [320]:
pd.concat([test_df,y_predict,y_prob],axis=1)

,Country,Opposition,Ground,Toss,Inns,Score,Wickets,Overs,Target,Result,loss%,win%
0,England,New Zealand,Lord's,lost,2,170,4,40,243,win,7.98578,92.01422

#At the end of 40 overs england has 92% chance of winning the game

# Scenario -2 
Itâ€™s a 2019 world cup semi final match between India vs new-Zealand. What are the chances of India winning the match:
If India had won the toss and batted first and,
Scored 250 for the loss of 6 wickets!

In [306]:
test_df = pd.DataFrame([["India","New Zealand","Manchester","won",1,250,6,50,0.0]],
             columns= ['Country','Opposition','Ground','Toss',
                       'Inns','Score','Wickets','Overs','Target'])
test_df

  Country   Opposition      Ground Toss  Inns  Score  Wickets  Overs  Target
0   India  New Zealand  Manchester  won     1    250        6     50     0.0

In [307]:
df_X1=pd.concat([df_X,test_df], axis=0)

In [308]:
X1 = pd.get_dummies(df_X1,drop_first=True)
X11 = X1.iloc[-1:,]

In [309]:
y_predict = log_reg.predict(X11)

In [310]:
y_predict = pd.DataFrame(y_predict, columns=["Result"]).replace({1:"win",0:"loss"})
y_predict

  Result
0    win

In [311]:
y_prob = (log_reg.predict_proba(X11))*100
y_prob = pd.DataFrame(y_prob,columns=["loss%","win%"])
y_prob

       loss%       win%
0  27.010406  72.989594

In [312]:
pd.concat([test_df,y_predict,y_prob],axis=1)

,Country,Opposition,Ground,Toss,Inns,Score,Wickets,Overs,Target,Result,loss%,win%
0,India,New Zealand,Manchester,won,1,250,6,50,0.0,win,27.010406,72.989594

If had batted first and scored 250 for 6. Then India had an advantage of winning the match

# Scenario:3 NZ Won the toss and batting First Against England at Lords, scored 242 for 8 at the end of 50 overs

In [182]:
test_df = pd.DataFrame([["Newzealad","England","Lord\'s","won",1,242,8,50.0,0.0]],
             columns= ['Country','Opposition','Ground','Toss',
                       'Inns','Score','Wickets','Overs','Target'])
test_df

     Country Opposition  Ground Toss  Inns  Score  Wickets  Overs  Target
0  Newzealad    England  Lord's  won     1    242        8   50.0     0.0

In [183]:
df_X1=pd.concat([df_X,test_df], axis=0)
X1 = pd.get_dummies(df_X1,drop_first=True)
X11 = X1.iloc[-1:,]

In [184]:
y_predict = log_reg.predict(X11)

In [185]:
y_predict = pd.DataFrame(y_predict, columns=["Result"])
y_predict

   Result
0       0

In [186]:
y_prob = (log_reg.predict_proba(X11))*100
y_prob = pd.DataFrame(y_prob,columns=["loss%","win%"])
y_prob

       loss%       win%
0  61.671149  38.328851

In [187]:
pd.concat([test_df,y_predict,y_prob],axis=1)

,Country,Opposition,Ground,Toss,Inns,Score,Wickets,Overs,Target,Result,loss%,win%
0,Newzealad,England,Lord's,won,1,242,8,50.0,0.0,0,61.671149,38.328851

#At the end of the new zealand innings, they have 35% chance of winning